/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  text-align: center; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s; }
  a:hover {
    color: #3ABEC9;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    transition: color 0.25s; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 0; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

div {
  box-sizing: border-box; }

.game {
  display: inline-block; }
  .game.one-by-one .board > div[val="1"] {
    background-color: #35a476; }
  .game.one-by-one .board > div[val="2"] {
    background-color: #399a70; }
  .game.one-by-one .board > div[val="3"] {
    background-color: #3d906a; }
  .game.one-by-one .board > div[val="4"] {
    background-color: #408563; }
  .game.one-by-one .board > div[val="5"] {
    background-color: #447b5d; }
  .game.one-by-one .board > div[val="6"] {
    background-color: #487157; }
  .game.one-by-one .board > div[val="7"] {
    background-color: #4b6650; }
  .game.one-by-one .board > div[val="8"] {
    background-color: #4f5c4a; }
  .game.one-by-one .board > div[val="9"] {
    background-color: #535244; }
  .game.one-by-one .board > div[val="10"] {
    background-color: #56473d; }
  .game.one-by-one .board > div[val="11"] {
    background-color: #5a3d37; }
  .game.one-by-one .board > div[val="12"] {
    background-color: #5e3331; }
  .game.one-by-one .board > div[val="13"] {
    background-color: #61282a; }
  .game.one-by-one .board > div[val="14"] {
    background-color: #651e24; }
  .game.one-by-one .board > div[val="15"] {
    background-color: #32af7d; }
  .game.one-by-one .board > div[val="16"] {
    background-color: #35a476; }
  .game.one-by-one .board > div[val="17"] {
    background-color: #399a70; }
  .game.one-by-one .board > div[val="18"] {
    background-color: #3d906a; }
  .game.one-by-one .board > div[val="19"] {
    background-color: #408563; }
  .game.one-by-one .board > div[val="20"] {
    background-color: #447b5d; }
  .game.one-by-one .board > div[val="21"] {
    background-color: #487157; }
  .game.one-by-one .board > div[val="22"] {
    background-color: #4b6650; }
  .game.one-by-one .board > div[val="23"] {
    background-color: #4f5c4a; }
  .game.one-by-one .board > div[val="24"] {
    background-color: #535244; }
  .game.one-by-one .board > div[val="25"] {
    background-color: #56473d; }
  .game.one-by-one .board > div[val="26"] {
    background-color: #5a3d37; }
  .game.one-by-one .board > div[val="27"] {
    background-color: #5e3331; }
  .game.one-by-one .board > div[val="28"] {
    background-color: #61282a; }
  .game.one-by-one .board > div[val="29"] {
    background-color: #651e24; }
  .game.one-by-one .board > div[val="30"] {
    background-color: #32af7d; }
  .game.one-by-one .board > div[val="31"] {
    background-color: #35a476; }
  .game.one-by-one .board > div[val="32"] {
    background-color: #399a70; }
  .game.one-by-one .board > div[val="33"] {
    background-color: #3d906a; }
  .game.one-by-one .board > div[val="34"] {
    background-color: #408563; }
  .game.one-by-one .board > div[val="35"] {
    background-color: #447b5d; }
  .game.one-by-one .board > div[val="36"] {
    background-color: #487157; }
  .game.one-by-one .board > div[val="37"] {
    background-color: #4b6650; }
  .game.one-by-one .board > div[val="38"] {
    background-color: #4f5c4a; }
  .game.one-by-one .board > div[val="39"] {
    background-color: #535244; }
  .game.one-by-one .board > div[val="40"] {
    background-color: #56473d; }
  .game.one-by-one .board > div[val="41"] {
    background-color: #5a3d37; }
  .game.one-by-one .board > div[val="42"] {
    background-color: #5e3331; }
  .game.one-by-one .board > div[val="43"] {
    background-color: #61282a; }
  .game.one-by-one .board > div[val="44"] {
    background-color: #651e24; }
  .game.one-by-one .board > div[val="45"] {
    background-color: #32af7d; }
  .game.one-by-one .board > div[val="46"] {
    background-color: #35a476; }
  .game.one-by-one .board > div[val="47"] {
    background-color: #399a70; }
  .game.one-by-one .board > div[val="48"] {
    background-color: #3d906a; }
  .game.one-by-one .board > div[val="49"] {
    background-color: #408563; }
  .game.one-by-one .board > div[val="50"] {
    background-color: #447b5d; }
  .game.one-by-one .board > div[val="51"] {
    background-color: #487157; }
  .game.one-by-one .board > div[val="52"] {
    background-color: #4b6650; }
  .game.one-by-one .board > div[val="53"] {
    background-color: #4f5c4a; }
  .game.one-by-one .board > div[val="54"] {
    background-color: #535244; }
  .game.one-by-one .board > div[val="55"] {
    background-color: #56473d; }
  .game.one-by-one .board > div[val="56"] {
    background-color: #5a3d37; }
  .game.one-by-one .board > div[val="57"] {
    background-color: #5e3331; }
  .game.one-by-one .board > div[val="58"] {
    background-color: #61282a; }
  .game.one-by-one .board > div[val="59"] {
    background-color: #651e24; }
  .game.one-by-one .board > div[val="60"] {
    background-color: #32af7d; }
  .game.one-by-one .board > div[val="61"] {
    background-color: #35a476; }
  .game.one-by-one .board > div[val="62"] {
    background-color: #399a70; }
  .game.one-by-one .board > div[val="63"] {
    background-color: #3d906a; }
  .game.one-by-one .board > div[val="64"] {
    background-color: #408563; }
  .game.one-by-one .board > div[val="65"] {
    background-color: #447b5d; }
  .game.one-by-one .board > div[val="66"] {
    background-color: #487157; }
  .game.one-by-one .board > div[val="67"] {
    background-color: #4b6650; }
  .game.one-by-one .board > div[val="68"] {
    background-color: #4f5c4a; }
  .game.one-by-one .board > div[val="69"] {
    background-color: #535244; }
  .game.one-by-one .board > div[val="70"] {
    background-color: #56473d; }
  .game.one-by-one .board > div[val="71"] {
    background-color: #5a3d37; }
  .game.one-by-one .board > div[val="72"] {
    background-color: #5e3331; }
  .game.one-by-one .board > div[val="73"] {
    background-color: #61282a; }
  .game.one-by-one .board > div[val="74"] {
    background-color: #651e24; }
  .game.one-by-one .board > div[val="75"] {
    background-color: #32af7d; }
  .game.one-by-one .board > div[val="76"] {
    background-color: #35a476; }
  .game.one-by-one .board > div[val="77"] {
    background-color: #399a70; }
  .game.one-by-one .board > div[val="78"] {
    background-color: #3d906a; }
  .game.one-by-one .board > div[val="79"] {
    background-color: #408563; }
  .game.one-by-one .board > div[val="80"] {
    background-color: #447b5d; }
  .game.one-by-one .board > div[val="81"] {
    background-color: #487157; }
  .game.one-by-one .board > div[val="82"] {
    background-color: #4b6650; }
  .game.one-by-one .board > div[val="83"] {
    background-color: #4f5c4a; }
  .game.one-by-one .board > div[val="84"] {
    background-color: #535244; }
  .game.one-by-one .board > div[val="85"] {
    background-color: #56473d; }
  .game.one-by-one .board > div[val="86"] {
    background-color: #5a3d37; }
  .game.one-by-one .board > div[val="87"] {
    background-color: #5e3331; }
  .game.one-by-one .board > div[val="88"] {
    background-color: #61282a; }
  .game.one-by-one .board > div[val="89"] {
    background-color: #651e24; }
  .game.one-by-one .board > div[val="90"] {
    background-color: #32af7d; }
  .game.one-by-one .board > div[val="91"] {
    background-color: #35a476; }
  .game.one-by-one .board > div[val="92"] {
    background-color: #399a70; }
  .game.one-by-one .board > div[val="93"] {
    background-color: #3d906a; }
  .game.one-by-one .board > div[val="94"] {
    background-color: #408563; }
  .game.one-by-one .board > div[val="95"] {
    background-color: #447b5d; }
  .game.one-by-one .board > div[val="96"] {
    background-color: #487157; }
  .game.one-by-one .board > div[val="97"] {
    background-color: #4b6650; }
  .game.one-by-one .board > div[val="98"] {
    background-color: #4f5c4a; }
  .game.one-by-one .board > div[val="99"] {
    background-color: #535244; }
  .game.one-by-one .board > div[val="100"] {
    background-color: #56473d; }
  .game.twist .board {
    -webkit-transition: -webkit-transform 0.25s;
    -moz-transition: -moz-transform 0.25s;
    transition: transform 0.25s; }
    .game.twist .board > div span {
      -webkit-transition: -webkit-transform 0.25s;
      -moz-transition: -moz-transform 0.25s;
      transition: transform 0.25s; }

.score {
  margin: 10px 0;
  font-size: 28px; }

.board {
  width: 200px;
  height: 200px;
  background-color: #AEAFC2;
  position: relative; }
  .board > div {
    position: absolute;
    background-color: #FFFFFF;
    height: 50px;
    width: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: left 0.25s, top 0.25s, color 0.25s;
    -moz-transition: left 0.25s, top 0.25s, color 0.25s;
    transition: left 0.25s, top 0.25s, color 0.25s; }
    .board > div[val="2"] {
      background-color: #35a476; }
    .board > div[val="4"] {
      background-color: #399a70; }
    .board > div[val="8"] {
      background-color: #3d906a; }
    .board > div[val="16"] {
      background-color: #408563; }
    .board > div[val="32"] {
      background-color: #447b5d; }
    .board > div[val="64"] {
      background-color: #487157; }
    .board > div[val="128"] {
      background-color: #4b6650; }
    .board > div[val="256"] {
      background-color: #4f5c4a; }
    .board > div[val="512"] {
      background-color: #535244; }
    .board > div[val="1024"] {
      background-color: #56473d; }
    .board > div[val="2048"] {
      background-color: #5a3d37; }
    .board > div[val="4096"] {
      background-color: #5e3331; }
    .board > div[val="8192"] {
      background-color: #61282a; }
    .board > div[val="16384"] {
      background-color: #651e24; }
    .board > div[val="32768"] {
      background-color: #69141e; }
    .board > div span {
      display: inline-block; }


/*# sourceMappingURL=main.css.map */