.board {
	width: 200px;
	height: 200px;
	background-color: $board-color;
	position: relative;

	> div {
		position: absolute;
		background-color: $white;
		height: 50px;
		width: 50px;
		line-height: 50px;
		vertical-align: middle;
		text-align: center;
		@include transition(left $fast, top $fast, color $fast);

		@for $i from 1 through 15 {
			$v: expon(2,$i);
			&[val="#{$v}"] {
				background-color: calc-color($i);
			}
		}

		span {
			display: inline-block;
		}
	}
}