// dimensions
$mobile: 650px;
$tablet: 980px;
$site-width: 1200px;

// speeds
$fast: .25s;
$slow: .5s;

// colors
$blue: #3ABEC9;
$purple: #2710C2;
$grey: #AEAFC2;
$dark-grey: darken($grey,20);
$light-grey: lighten($grey,20);
$black: #000000;
$white: #FFFFFF;

$board-color: $grey;